@using Microsoft.AspNetCore.Identity
@inject SignInManager<FileIntegrityMonitor.Models.ApplicationUser> SignInManager
@inject UserManager<FileIntegrityMonitor.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light">Hello, @((await UserManager.GetUserAsync(User))?.FirstName)</span>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link nav-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>